extends layout

block content
  div F12를 눌러 console 탭과 network 탭을 확인하세요.
  //- script provided by Socket.IO to client
  //- connect with server address through io object provided the script
  //- when connect, address starts with http not ws
  //- with Socket.IO, connect server with polling, after polling connection, if web socket is possible, then connect with web socket
  script(src='/socket.io/socket.io.js') 
  script.
    var socket = io.connect('http://localhost:8005',{
        path:'/socket.io', // path should be same as path in server 
    });
    socket.on('news',function(data){
        console.log(data);
        socket.emit('reply','Hello Node.JS');
    });
